<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <!-- Campo Nome -->
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="nome"
        [class.is-invalid]="contactForm.get('nome')?.invalid && contactForm.get('nome')?.touched"
      >
      <div class="invalid-feedback">
        <span *ngIf="contactForm.get('nome')?.hasError('required')">
          O nome é obrigatório
        </span>
      </div>
    </div>

    <!-- Campo Email -->
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [class.is-invalid]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
      >
      <div class="invalid-feedback">
        <span *ngIf="contactForm.get('email')?.hasError('required')">
          O e-mail é obrigatório
        </span>
        <span *ngIf="contactForm.get('email')?.hasError('email')">
          Formato de e-mail inválido
        </span>
      </div>
    </div>
  
    <!-- Campo Celular -->
    <div class="mb-3">
      <label for="phone" class="form-label">Celular</label>
      <input
        type="tel"
        class="form-control"
        id="phone"
        formControlName="celular"
        [class.is-invalid]="contactForm.get('celular')?.invalid && contactForm.get('celular')?.touched"
      >
      <div class="invalid-feedback">
        <span *ngIf="contactForm.get('celular')?.hasError('required')">
          O celular é obrigatório
        </span>
        <span *ngIf="contactForm.get('celular')?.hasError('pattern')">
          Apenas números são permitidos
        </span>
      </div>
    </div>

    <!-- Campo Telefone -->
    <div class="mb-3">
      <label for="phone" class="form-label">Telefone</label>
      <input
        type="tel"
        class="form-control"
        id="phone"
        formControlName="telefone"
        [class.is-invalid]="contactForm.get('telefone')?.invalid && contactForm.get('telefone')?.touched"
      >
      <div class="invalid-feedback">
        <span *ngIf="contactForm.get('telefone')?.hasError('pattern')">
          Apenas números são permitidos
        </span>
      </div>
    </div>

    <!-- Campo Contato Favorito -->
    <div class="mb-3 form-check">
      <input 
        type="checkbox" 
        class="form-check-input" 
        id="favorite"
        [checked]="favoriteCheckbox"
        (change)="onFavoriteCheckboxChange($event)"
      >
      <label class="form-check-label" for="favorite">Favorito</label>
    </div>
  
    
  
    <!-- Campo Data de Nascimento -->
    <!-- <div class="mb-3">
      <label for="birthday" class="form-label">Data de Nascimento</label>
      <input
        type="date"
        class="form-control"
        id="birthday"
        formControlName="birthday"
        [max]="maxDate"
      >
    </div> -->
  
    <!-- Botão de Submit -->
    <div class="d-grid gap-2">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="contactForm.invalid"
      >
        {{ initialData ? 'Atualizar' : 'Salvar' }}
      </button>
    </div>
  </form>