<!-- Navbar com links de navegação -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Agenda de Contatos</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/" routerLinkActive="active">Lista</a>
      <a class="nav-link" routerLink="/add" routerLinkActive="active">Novo Contato</a>
    </div>
  </div>
</nav>

<!-- Área principal onde os componentes serão renderizados -->
<main class="container mt-4">
  <router-outlet></router-outlet>
</main>
